{{ define "main" }}

<!-- Page title -->
{{ if .Params.title_image }}
{{ $image := .Page.Resources.GetMatch .Params.title_image }}
{{ $image := $image.Resize "500x webp" }}
<section class="page-title bg-2"style="background-image: url( {{ $image.RelPermalink  }} );">
  <div class="container">
    <div class="row" >
      <div class="col-md-5 text-center">
        <img src="{{ $image.RelPermalink  }}" style="padding: 1em 0" alt="&copy; {{.Params.title_image_credit | plainify }}" title="&copy; {{.Params.title_image_credit | plainify }}" />
      </div>
      <div class="col-md-7">
        <div class="block">
          <h1 style="text-transform:none;">{{ .Title }}</h1>
          <p >{{ .Params.description | markdownify | safeHTML }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ else }}
<section class="page-title bg-2">
  <div class="container">
    <div class="row" >
      <div class="col-md-12">
        <div class="block">
          <h1 style="text-transform:none;">{{ .Title }}</h1>
          <p style="text-align: left;">{{ .Params.description | markdownify | safeHTML }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ $data := index site.Data site.Language.Lang }}

<section class="portfolio-single-page section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        {{ with .Params.image }}
        <img class="img-responsive w-100" src="{{ . | relURL }}" alt="">
        {{ end }}
      </div>
      <div class="col-md-6">
        <div class="project-details">
          <h4>Research highlights</h4>
          <ul>
            {{ range .Params.information }}
            <li>
              <strong>{{ .info | markdownify }}</strong>
            </li>
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="project-content mt-50">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
