<section class="">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="block">
                    <h3> {{.Get `widgetTitle`}} </h3><br />
                </div>
            </div>
        </div>
        <div class="row">
                <div id="figure_{{.Get `widgetName`}}" class='col-md-8 left'>
                <!-- d3js figure will be here -->
                </div>
                <div id="parameters_{{.Get `widgetName`}}" class='col-md-4 right'>
                <!-- parameter sliders will be there -->
                </div>
        </div>
    </div> 

    <script>
        // call javascript functions to plot in the right div's
        // TO DO: make a double dim array, for multiple widget per page

        /*       var context = {};
        // assign variables later called by name to context object
        context["parameter_data"] = parameter_data;
        context["switch_parameter_data"] = switch_parameter_data;
        context["algebraic_equation_f"] = algebraic_equation_f;
        write_widget("figure_{{.Get `widgetName`}}", "parameters_{{.Get `widgetName`}}", 'parameter_data', 'switch_parameter_data', 'algebraic_equation_f', "{{.Get `plotType`}}");
*/
        if (typeof context === 'undefined' || context === null){ // init variable if it does not exist 
            var context = {};
            console.log("tada, context initalised");
        }
    </script>
    <script src="{{  .Get `widgetJS` | relURL }}.js" type="text/javascript" charset="utf-8"></script>
    <script>
        context["{{.Get `widgetName`}}"] = {};    
        // assign variables later called by name to context object
        context["{{.Get `widgetName`}}"]["parameter_data"] = parameter_data;
        context["{{.Get `widgetName`}}"]["switch_parameter_data"] = switch_parameter_data;
        context["{{.Get `widgetName`}}"]["algebraic_equation_f"] = algebraic_equation_f;
        //console.log("after init", context);
        write_widget("figure_{{.Get `widgetName`}}", "parameters_{{.Get `widgetName`}}", 'parameter_data', 'switch_parameter_data', 'algebraic_equation_f', "{{.Get `plotType`}}", "{{.Get `ylabel`}}");
    </script>
</section>
  
