<!-- Glossary -->
<section class="glossary">
    <div class="container">
      <div class="row">
  
        {{ partial "glossary-terms.html" . }}
        {{ $glossary_items := $.Scratch.Get "glossary_items" }}
        {{ with $glossary_items }}
        {{ $glossary_terms := sort . "Title" "asc" }}
        <ul>
          {{ range $glossary_terms }}
          {{ $term_identifier := (printf "term-%s" .Params.id) }}
          
          <li class="{{ $.Scratch.Get `tag_classes` }}" data-show-count="0">
            <div id="{{ $term_identifier }}" class="term-anchor"></div>
            <div>
                <div class="term-name"><b>{{ .Title }}</b> <!-- <a href="{{ printf "#%s" $term_identifier }}" class="permalink hide">LINK</a>--> </div>
                <span class="preview-text">{{ .Content }}</span>
            </div>
        </li>
          {{ end }}
        </ul>
        {{ end }}
  
      </div>
    </div>
  </section>

