{{/* Shortcode to insert a table with javascript calculations based on user input */}}
{{/* Applied to biochar data, with user input, and javascript update and calculations */}}

{{/* TODO : Add terminology definition in tooltips, via extra shortcodes */}}

<style>
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
</style>

<table class="table" border="1" style="text-align:center; vertical-align:middle;">
    <caption>Caption of the table</caption>
    <tr>
        <td colspan="4">Your biochar data</td>
    </tr>
    <tr>
        <td><label for="table_HTT">Pyrolysis temperature (&#176;C)</label> <br/> 
            <input type="number" id="table_HTT" name="table_HTT" size=4 maxlength="5" min="0" max="1500" placeholder="650" style="text-align:center;" onblur="calculateStabilities()">
        </td>        
        <td><label for="table_C">Carbon content (%, db)</label> <br/> 
            <input type="number" id="table_C" name="table_C" size=4 maxlength="5" min="0" max="100" placeholder="85.6" style="text-align:center;" onblur="calculateStabilities()">
        </td>
        <td><label for="table_H">Hydrogen content (%, db)</label> <br/> 
            <input type="number" id="table_H" name="table_H" size=4 maxlength="5" min="0" max="100" placeholder="2.5" style="text-align:center;" onblur="calculateStabilities()">
        </td>
        <td><label for="table_O">Oxygen content (%, db)</label> <br/> 
            <input type="number" id="table_O" name="table_O" size=4 maxlength="5" min="0" max="100" placeholder="8.5" style="text-align:center;" onblur="calculateStabilities()">
        </td>
    </tr>
</table>

<p style="color:red;" id="dataWarning"></p>

<table class="table" border="1" style="table-layout: auto; text-align:center; vertical-align:middle;">
    <tr>
        <td colspan="6">Calculation methods & returned values</td>
    </tr>

    <tr>
        <th scope="row">Method</th>
        <td> IPCC <br />(2019)
        </td>
        <td> IBI <br />(2013)
        </td>
        <td> Spokas O:C<br />(2010)
        </td>
        <td> EBC C-sink<br />(Agro)
        </td>
        <td> EBC C-sink<br />(Charcrete)
        </td>
    </tr>

    <tr>
        <th scope="row">100-year stability (%)</th>
        <td id='calc_IPCC_stab'> n/a
        </td>
        <td id='calc_IBI_stab'> n/a
        </td>
        <td id='calc_Spokas_stab'> n/a
        </td>
        <td id='calc_EBCAgro_stab'> n/a
        </td>
        <td id='calc_EBCCharcrete_stab'>n/a
        </td>
    </tr>
    <tr>
        <th scope="row">100-year C sequestration <br />
                        (kg C/tonne biochar)</th>
        <td id='calc_IPCC_sinkC'> n/a
        </td>
        <td id='calc_IBI_sinkC'> n/a
        </td>
        <td id='calc_Spokas_sinkC'> n/a
        </td>
        <td id='calc_EBCAgro_sinkC'> n/a
        </td>
        <td id='calc_EBCCharcrete_sinkC'>n/a
        </td>
    </tr>

    <tr>
        <th scope="row">100-year CO<sub>2</sub> sequestration <br />
                        (kg CO2-eq/tonne biochar)</th>
        <td id='calc_IPCC_sink'> n/a
        </td>
        <td id='calc_IBI_sink'> n/a
        </td>
        <td id='calc_Spokas_sink'> n/a
        </td>
        <td id='calc_EBCAgro_sink'> n/a
        </td>
        <td id='calc_EBCCharcrete_sink'>n/a
        </td>
    </tr>

    <tr>
        <th scope="row"> CO<sub>2</sub> sequestration after 
            <input type="number" id="table_Time" name="table_Time" size=2 maxlength="4" min="0" max="1500" value="50" style="text-align:center;" onblur="calculateStabilities()">
            years <br />            
            (kg CO2-eq/tonne biochar)
            </th>
        <td id='calc_IPCC_sinkT'> n/a
        </td>
        <td id='calc_IBI_sinkT'> n/a
        </td>
        <td id='calc_Spokas_sinkT'> n/a
        </td>
        <td id='calc_EBCAgro_sinkT'> n/a
        </td>
        <td id='calc_EBCCharcrete_sinkT'>n/a
        </td>
    </tr>

    <tr style="text-align:left;">
        <th scope="row">Notes</th>
        <td colspan="10">
            <div id="tableNotes">Enter your biochar properties in the first row for the calculations to start...</div>
        </td>
    </tr>
</table>

<p></p>

<script>
    // on change of inputs... calculate new values if possible, or catch error
    // highlight warning message in last row of table... 
    // trigger: onchange, could also be onblur
    
    function calculateStabilities(){
        console.log("I am triggered");
        // get the data from the form, and check the validity of values, inject info messages in notes...
        const C = parseFloat(document.getElementById('table_C').value);
        const H = parseFloat(document.getElementById('table_H').value);
        const O = parseFloat(document.getElementById('table_O').value);
        const HHT = parseFloat(document.getElementById('table_HTT').value);
        const YEAR = parseFloat(document.getElementById('table_Time').value);
        // parseFloat returns number type, and if the field is empty the number has the value NaN
        
        // Warning displays:
        if(C+H+O > 100){
            const warning = 'The sum of carbon, hydrogen and oxygen contents is above 100%. Please, verify input data.'
            document.getElementById('dataWarning').innerHTML = warning;
        }else{
            document.getElementById('dataWarning').innerHTML = '';
        }

        var noteText = '';
        // HTML5 form validation https://developer.mozilla.org/fr/docs/Learn/Forms/Form_validation 

        // do the caculations if possible & display result & information: green text, calculated, red text, data missing
        // IPCC 2019
        if(! (isNaN(HHT) || isNaN(C)) ){
            var ipcc = stability_IPCC2019(C, HHT);
            console.log(ipcc, typeof(ipcc));
            if(typeof(ipcc) == 'object'){
                ipcc = ipcc.map(a => a.toFixed(2));
                document.getElementById('calc_IPCC_stab').innerHTML = ipcc[0];
                document.getElementById('calc_IPCC_sinkC').innerHTML = ipcc[1];
                document.getElementById('calc_IPCC_sink').innerHTML = ipcc[2];
            } else{
                // out of range
                document.getElementById('calc_IPCC_stab').innerHTML =  '0';
                document.getElementById('calc_IPCC_sinkC').innerHTML =  '0';
                document.getElementById('calc_IPCC_sink').innerHTML =  '0';
                document.getElementById('calc_IPCC_sinkT').innerHTML =  'n/a';
                noteText += 'For IPCC method: <br>'
                noteText += ipcc;
            }

        }else{
            // print that a value is missing
            noteText += 'For IPCC method: <br>'
            if(isNaN(HHT)){ noteText += '- Temperature data is needed <br>'; }
            if(isNaN(C)){ noteText += '- Carbon content is needed <br>'; } 
            document.getElementById('calc_IPCC_stab').innerHTML = 'n/a';
            document.getElementById('calc_IPCC_sinkC').innerHTML = 'n/a';     
            document.getElementById('calc_IPCC_sink').innerHTML = 'n/a';     
            document.getElementById('calc_IPCC_sinkT').innerHTML = 'n/a';             
        }

        // IBI based on H:C
        if(! (isNaN(H) || isNaN(C)) ){
            var ibi = stability_IBI(C, H);
            if(typeof(ibi) == 'object'){
                ibi = ibi.map(a => a.toFixed(2));
                document.getElementById('calc_IBI_stab').innerHTML = ibi[0];
                document.getElementById('calc_IBI_sinkC').innerHTML = ibi[1];
                document.getElementById('calc_IBI_sink').innerHTML = ibi[2];
                noteText += 'For IBI (2013) method: '
                var HC = ibi[3];
                noteText += 'H:C<sub>org</sub> = '+ HC+'<br>';     
            }else{
                // out of range
                document.getElementById('calc_IBI_stab').innerHTML =  '0';
                document.getElementById('calc_IBI_sinkC').innerHTML =  '0';
                document.getElementById('calc_IBI_sink').innerHTML =  '0';
                document.getElementById('calc_IBI_sinkT').innerHTML =  '0';
                noteText += 'For IBI method: <br>'
                noteText += ibi+'<br>';
            }

        }else{
            // print that a value is missing
            noteText += 'For IBI method: <br>'
            if(isNaN(H)){ noteText += '- Hydrogen content data is needed <br>'; }
            if(isNaN(C)){ noteText += '- Carbon content is needed <br>'; }
            document.getElementById('calc_IBI_stab').innerHTML =  'n/a';
            document.getElementById('calc_IBI_sinkC').innerHTML =  'n/a';
            document.getElementById('calc_IBI_sink').innerHTML =  'n/a';
            document.getElementById('calc_IBI_sinkT').innerHTML =  'n/a';
        }

        // EBC based version 2.1 (February 2021)
        // Note EBC C-sink has in addition: CO2-eq expenditure for production of biomass, storage, and pyrolysis, C-neutrality of biomass
        // Their terminology: EBC C-sink potential (%C biochar - %C-eq pyrolysis expenditure - %C-eq biomass expenditure - %margin safety (10% of pyro+bio exp)) in %
        // In addition, on page 32, paragraph 10): soils, substrates, feeds eventually incorporated to agricultural or urban soils
            // annual rate of biochar degradation must be applied according to H:C_org ratio (Camps-Arbestain 2015 [chapter in Lehmann boook] & IPCC 2019) and 
            // must be at least 0.3%. This way, C-sink annual evolution can be specified over extended periods (100-250 years) or traded in annual tranches
        // In addition, on page 32, paragraph 11): industrial materials, plastics, asphalt
            // appropriate monitoring methods to be used, to ensure what proportion of material is still in use and not combusted
            // methods: electronic tracking, satellite, statistically verified lifetime averages
        // In addition, on page 32, paragraph 12): concrete, mineral plasters, gypsum, clay
            // a permanent sink can be assumed
            // incineration is impossible in building materials
            // claim: biochar protected from biological & chemical degradation far better than in soil
            // For periods of 100-250 years, no degradation rate must be considered.

        // ESA: Camps-Aberstain 2015 on C-sink is same as IBI, H:C thresholds. But where is degradation rate defined?
        // Degradation rate suggseted as a minimum value: k=0.3%/year corresponds to a linear decomposition 
        // rate where at 100 years the stability is 70% (as in the best case of IBI - IBI document does not use a exp or compound interest formula)
        // equations are: d(c/c0)/dt = -k ==> c/c0 = 1 - k*t ==> c100/c0 = 1-0.3%*100= 0.7
        // NOTE: Verra interpret this decay rate k as in an exponential decay (74.08%) or compound interest (74.04%), leading to 74% 100-year stability.
        // NOTE: carbonfutures shows a example calculation from IBI, but unclear what stability is shown there... (88.2% stability, 1-0.43/3.66)

        // Spokas 2010: based on O:C, giving half-life estimates, that we convert to 100 years
        if(! (isNaN(O) || isNaN(C)) ){
            var spokas = stability_Spokas(O, C, YEAR);
            if(typeof(spokas) == 'object'){
                spokas = spokas.map(a => a.toFixed(2));
                document.getElementById('calc_Spokas_stab').innerHTML = spokas[0];
                document.getElementById('calc_Spokas_sinkC').innerHTML = spokas[1];
                document.getElementById('calc_Spokas_sink').innerHTML = spokas[2];
                document.getElementById('calc_Spokas_sinkT').innerHTML = spokas[3]
                noteText += 'For Spokas (2010) method: '
                var OC = spokas[4];
                noteText += 'O:C<sub>org</sub> = '+ OC+'<br>';
            }else{
                // out of range
                document.getElementById('calc_Spokas_stab').innerHTML =  '0';
                document.getElementById('calc_Spokas_sinkC').innerHTML =  '0';
                document.getElementById('calc_Spokas_sink').innerHTML =  '0';
                document.getElementById('calc_Spokas_sinkT').innerHTML =  '0';
                noteText += 'For Spokas (2010) method:'
                noteText += spokas+'<br>';
            }

        }else{
            // print that a value is missing
            noteText += 'For Spokas (2010) method: <br>'
            if(isNaN(O)){ noteText += '- Oxygen content data is needed <br>'; }
            if(isNaN(C)){ noteText += '- Carbon content is needed <br>'; }
            document.getElementById('calc_Spokas_stab').innerHTML =  'n/a';
            document.getElementById('calc_Spokas_sinkC').innerHTML =  'n/a';
            document.getElementById('calc_Spokas_sink').innerHTML =  'n/a';
            document.getElementById('calc_Spokas_sinkT').innerHTML =  'n/a';
        }
        // update merged notes: 
        document.getElementById('tableNotes').innerHTML = noteText;
    }

    function stability_IPCC2019(C, HHT){
        // implements IPCC 2019 calculation
        // it returns: 
        // 1) the stability value from IPPC report, in %
        // 2) amount of CO2 sequestered for 100 year for 1 tonne of biochar at a given carbon content: 1 tonne biochar * (C/100) * 44/12 * stability
        if(HHT >= 600){
            return [100*0.89, 1*(C/100)*0.89, 1*(C/100)*(44/12)*0.89];
        }else if(HHT >= 450 ){
            return [100*0.80, 1*(C/100)*0.80, 1*(C/100)*(44/12)*0.80];
        }else if(HHT >= 350){
            return [100*0.65, 1*(C/100)*0.65, 1*(C/100)*(44/12)*0.65];
        }
        else{
            return 'Temperature is too low';
        }
    }

    function stability_IBI(C, H){
        // implements IBI method based on Budai 2013 report, Table 2
        // Note: assume C given is C org
        // it returns: 
        // 1) the stability value from IBI Table 2, either 70% or 50% 
        // 2) amount of CO2 sequestered for 100 year for 1 tonne of biochar at a given carbon content: 1 tonne biochar * (C/100) * 44/12 * stability

        // calculate H:C_org based on C and H given in percentage
        // mole = mass / molar mass
        var HCorg = H / C * (12.0/1.0);
        console.log("H:C_org is: ", HCorg);

        if(HCorg <= 0.4){
            return [70.0, 1*(C/100)*0.70, 1*(C/100)*(44/12)*0.70, HCorg];
        }else if(HCorg <= 0.7){
            return [50.0, 1*(C/100)*0.50,  1*(C/100)*(44/12)*0.50, HCorg];
        }else {
            return 'H:C<sub>org</sub> = '+ HCorg.toFixed(2).toString()+ '. The value is too high (above 0.7): material not considered being biochar.';
        }
    }

    function stability_Spokas(O, C, YEAR){
        // based on Spokas (2010) https://doi.org/10.4155/cmt.10.32
        // with following thresholds:
        // 0 - 0.2 then t1/2 > 1000 years
        // 0.2 - 0.6 then t1/2 between 100 & 1000 years
        // > 0.6 then t1/2 lower than 100 years

        // using a single exponentiel model, we convert half-life t1/2 to 100-year stability
        // 100-year stability = c100/c0 = exp( -ln(2)*100/t12 )
        // however the half-life time is not precisely defined for each intervall
        // thus, we take the "worst" case for each intervall meaning: 1000 years (93.3%), 100 years (50%), 1 year (0%). 
        // it returns: 
        // 1) the stability value 
        // 2) amount of CO2 sequestered for 100 year for 1 tonne of biochar at a given carbon content: 1 tonne biochar * (C/100) * 44/12 * stability

        // calculate H:C_org based on C and H given in percentage
        // mole = mass / molar mass
        var OCorg = O / C * (12.0/16.0);
        const ln2 = 0.69314718055994530941723212145818; // ln(2)
        console.log("O:C_org is: ", OCorg);
        
        if(OCorg <= 0.2){
            var t12 = 1000;
            var stab100 = Math.exp(-1*ln2/t12*100);
            return [stab100*100, 1*(C/100)*stab100, 1*(C/100)*(44/12)*stab100, 1*(C/100)*(44/12)*Math.exp(-1*ln2/t12*YEAR), OCorg];
        }else if(OCorg <= 0.6){
            var t12 = (100+1000)/2;
            var stab100 = Math.exp(-1*ln2/t12*100);
            return [stab100*100, 1*(C/100)*stab100, 1*(C/100)*(44/12)*stab100, 1*(C/100)*(44/12)*Math.exp(-1*ln2/t12*YEAR), OCorg];
        }else { // above 0.6
            var t12 = 1;            
            return 'O:C<sub>org</sub> = '+ OCorg.toFixed(2).toString()+ '. The value is too high (above 0.6): no long term C sequestration.';
        } 
    }
</script>